<a href="https://colab.research.google.com/github/techonair/Data-Analytics/blob/main/Basic_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Dataset.csv to Dataset.csv

In [ ]:
dataset = pd.read_csv('Dataset.csv')
dataset

    land      price
0   1000     2245.0
1   2000     4575.0
2   3000     6874.0
3   4000     8878.0
4   5000        NaN
5   6000    12457.0
6   7000    14785.0
7   8000    16785.0
8  10000  2078900.0

In [ ]:
print(dataset.shape)
print(dataset.describe())

(9, 2)
               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [ ]:
dataset.isna().any()

land     False
price     True
dtype: bool

In [ ]:
MeandatasetNotNaN = dataset.price.fillna(dataset.price.median())
MeandatasetNotNaN

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      10667.5
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: price, dtype: float64

In [ ]:
percentile = dataset.price.quantile(1.0)
percentile

2078900.0

In [ ]:
NoOutlierValue = MeandatasetNotNaN[MeandatasetNotNaN<percentile]
NoOutlierValue

0     2245.0
1     4575.0
2     6874.0
3     8878.0
4    10667.5
5    12457.0
6    14785.0
7    16785.0
Name: price, dtype: float64