<a href="https://colab.research.google.com/github/techonair/Data-Analytics/blob/main/Probabilistic_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Dataset.csv to Dataset.csv

In [7]:
dataset = pd.read_csv("Dataset.csv")
print(dataset.shape)
print(dataset.describe())
print(dataset.head(5))

(1460, 3)
                Id        LotArea      SalePrice
count  1460.000000    1460.000000    1460.000000
mean    730.500000   10516.828082  180921.195890
std     421.610009    9981.264932   79442.502883
min       1.000000    1300.000000   34900.000000
25%     365.750000    7553.500000  129975.000000
50%     730.500000    9478.500000  163000.000000
75%    1095.250000   11601.500000  214000.000000
max    1460.000000  215245.000000  755000.000000
   Id  LotArea  SalePrice
0   1     8450     208500
1   2     9600     181500
2   3    11250     223500
3   4     9550     140000
4   5    14260     250000

# **Simple Random Sampling**

In [12]:
simpleRandomSample = dataset.sample(10).sort_values(by="Id")
mean_simpleRandomSample =round(simpleRandomSample["SalePrice"].mean(),3)
print("Mean of Simple Random Sample: ",mean_simpleRandomSample)
print(simpleRandomSample)

Mean of Simple Random Sample:  193263.7
        Id  LotArea  SalePrice
41      42    16905     170000
130    131    14200     226000
188    189     7018     153337
614    615     1491      75500
781    782     7153     175900
798    799    13518     485000
841    842    10440     157500
858    859    10400     152000
993    994     8846     173900
1006  1007    12155     163500

# **Systematic Random Sample**

In [31]:
index = np.arange(0, len(dataset), step=5)
systematicSample = dataset.iloc[index]
mean_systematicSample = round(systematicSample["SalePrice"].mean(),3)
print("Mean of Systematic Sample: ", mean_systematicSample)
print(systematicSample)

Mean of Systematic Sample:  178146.13
        Id  LotArea  SalePrice  strata  cluster_id
0        1     8450     208500       1           1
5        6    14115     143000       1           1
10      11    11200     129500       1           1
15      16     6120     132000       1           1
20      21    14215     325300       1           1
...    ...      ...        ...     ...         ...
1435  1436     8400     174000       2           5
1440  1441    11526     191000       2           5
1445  1446     8400     129000       2           5
1450  1451     9000     136000       2           5
1455  1456     7917     175000       2           5

[292 rows x 5 columns]

# **Cluster Random Sample**

In [25]:
n = 5

#Divide the dataset into clusters
dataset['cluster_id'] = np.repeat([range(1,n+1)], len(dataset)/5)

index =[]
#for this formula, cluster_id must be even number
for i in range(0,len(dataset)):
  if dataset['cluster_id'].iloc[i]%2 == 0:
    index.append(i)

clusterSample = dataset.iloc[index]
mean_clusterSample = round(clusterSample['SalePrice'].mean(), 3)

print("Mean of Cluster Sample: ", mean_clusterSample)
print(clusterSample)

Mean of Cluster Sample:  178023.509
        Id  LotArea  SalePrice  strata  cluster_id
292    293    11409     131000       1           2
293    294    16659     235000       1           2
294    295     9600     167000       1           2
295    296     7937     142500       1           2
296    297    13710     152000       1           2
...    ...      ...        ...     ...         ...
1163  1164    12900     108959       2           4
1164  1165    16157     194000       2           4
1165  1166     9541     233170       2           4
1166  1167    10475     245350       2           4
1167  1168    10852     173000       2           4

[584 rows x 5 columns]

# **Stratified Random Sample - Adding Subgroups (Strata)**

In [21]:
dataset = pd.read_csv("Dataset.csv")
dataset["strata"] = np.repeat([1,2], len(dataset)/2)

index = []
for i in range(0, len(dataset)):
  index.append(i)
  
stratifiedRandomSample = dataset.iloc[index]
stratifiedRandomSample

        Id  LotArea  SalePrice  strata
0        1     8450     208500       1
1        2     9600     181500       1
2        3    11250     223500       1
3        4     9550     140000       1
4        5    14260     250000       1
...    ...      ...        ...     ...
1455  1456     7917     175000       2
1456  1457    13175     210000       2
1457  1458     9042     266500       2
1458  1459     9717     142125       2
1459  1460     9937     147500       2

[1460 rows x 4 columns]

# **Stratified Random Sample - Adding Subgroups (Strata)**

In [30]:
from sklearn.model_selection import StratifiedShuffleSplit as sss

#set the split criteria
split = sss(n_splits=1, test_size=8)

#Performing data frame split
for x, y in split.split(dataset, dataset['strata']):
  stratifiedRandomSample = dataset.iloc[y].sort_values(by='SalePrice')

mean_stratifiedRandomSample = round(stratifiedRandomSample['SalePrice'].mean(), 3)

print("Mean of Stratified Sample: ", mean_stratifiedRandomSample)
print(stratifiedRandomSample)

Mean of Stratified Sample:  193999.0
        Id  LotArea  SalePrice  strata  cluster_id
1143  1144     9000      80000       2           4
434    435     1890      81000       1           2
1120  1121     8263     118400       2           4
952    953     7200     133900       2           4
461    462     7200     155000       1           2
0        1     8450     208500       1           1
477    478    13693     380000       1           2
987    988    10159     395192       2           4

# **Mean Comparision of All Probabilistic Samplings**

In [36]:
mean_Originaldataset = round(dataset['SalePrice'].mean(), 3)
print("Mean Comparision")
print("\nMean of Original Dataset: ", mean_Originaldataset)
print("\nMean of Simple Random Sample: ",mean_simpleRandomSample)
print("Mean of Systematic Sample: ", mean_systematicSample)
print("Mean of Cluster Sample: ", mean_clusterSample)
print("Mean of Stratified Sample: ", mean_stratifiedRandomSample)

Mean Comparision

Mean of Original Dataset:  180921.196

Mean of Simple Random Sample:  193263.7
Mean of Systematic Sample:  178146.13
Mean of Cluster Sample:  178023.509
Mean of Stratified Sample:  193999.0